/* Estilos generales */

/* * Selecciona todos los elementos de la página    */
*{
    margin: 0px;
    padding: 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none; /* Ninguna decoración*/


}

p{
    margin-top: 5px;
    margin-bottom: 5px;

}

.box p, .box h2, .box h3, .box ul{
    margin-top: 5px;
    margin-bottom: 5px;

}

.box ul, .box ol{    
    margin-left: 20px;
    margin-bottom: 10px;
    


}

body{
    background-color: #f2f2f2;
}

/* Estilos Cabecera */
header{
    width: 800px;
    height: 115px;
    background-color: white;
    margin: 0 auto;
}

/* # porque tiene ID */

#logotipo{
    width: 60%;
    height: 150px;
    margin: 0 auto;
}

#logotipo img{
    display: block;
    width: 230px;
    float: left;
    margin-top: 20px;
}

#logotipo h1{
    display: block;
    float: left;
    
    margin-top: 40px;
    margin-left: 20px;
    font-weight: bold;
    color: #c7a056;
}

/* Estilos barra de navegacion */
nav{
    width: 900px;
    height: 40px;
    margin: 0 auto;
    background-color: #1b1e1f;
    border: 1px solid #333333;
    box-shadow: 0px 22px 22px gray; /* Sombra del menu*/
    font-size: 15px;
}

nav ul{
    list-style: none;
    text-decoration: none;
}

nav ul li{
    line-height: 20px;
    float: left;
}

nav ul li a{
    display: block;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: #d1d4d6;
}

nav ul li a:hover{ /* Sombreado al pasar el mouse sobre los menús  */
    background: #42a096;
    box-shadow: 0px 0px 5px #444 inset;
    color: white;
    transition: all 300ms;
}


/* . porque tiene class para barra en 3d*/
.barra{
    width: 900px;
    margin: 0 auto;
}

.esquina-izquierda{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: left;
}

.esquina-derecha{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: right;
}

.relleno-barra{
    display: block;
    width: 860px;
    height: 10px;
    background: #2b2f30;
    float: left;
}

/* Estilos contenido central*/

#content{
    width: 800px;
    min-height: 930px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.box{
    background: white;
    width: 95%;
    min-height: 930px;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 0 auto;
}

.box form{
    width: 40%; /* Ancho */
    
}

.box form input,
.box form label{
    display: block;
    padding: 5px;
    padding-left: 0px;
    color: black;
}

.mensaje{
    display: block;
}

.mensaje label[for=guardado_si]{
    color: #0ad633;
}

.mensaje label[for=guardado_no]{
    color: red;
}

.box form input[type="text"],
.box form textarea,
.box form select{
    width: 100%;
    margin-bottom: 10px;
    
}

.box form select{
    width: 50px;
    padding: 5px;
}



.box form input[type="submit"],
.box form input[type="button"],
.box form button{
    padding: 5px;
    margin-top: 15px;
    background: #42a096;
    color: white;
    transition: 300ms all;

}

.box form input[type="submit"]:hover,
.box form input[type="button"]:hover,
.box form button:hover{
    cursor: pointer;
    background: #2f726b;
    color: white;

}



.title{
    color: #444;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}

footer{
    width: 900px;
    background-color: #42a096;
    border: 1px solid #333;
    color: #d1d4d6;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px gray;
    margin: 0 auto;

}

table.table-tiendas {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #FFFFFF;
    width: 500px;
    height: 100px;
    text-align: center;
}
table.table-tiendas td, table.table-tiendas th {
    border: 1px solid #FFFFFF;
    padding: 2px 2px;
}
table.table-tiendas tbody td {
    font-size: 13px;
}
table.table-tiendas thead {
    background: #000000;
    border-bottom: 5px solid #FFFFFF;
}
table.table-tiendas thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
}
table.table-tiendas thead th:first-child {
    border-left: none;
}
  
table.table-tiendas thead th.borrar {
    background: #ff0000;
    padding: 0px 0px;
}

table.table-tiendas td.borrar {
    background: #f3b9b9;
    padding: 0px 0px;
}

.rojo{
    color: red;
    box-shadow: 0px 0px 4px black;
}